.MenuLateral {
  display: flex;                /* convierte la lista en fila */
  justify-content: center;     /* centra horizontalmente los ítems */
  align-items: center;         /* centra verticalmente */
  list-style: none;            /* elimina viñetas */
  margin: 0;                   /* elimina margen por defecto */
  padding: 1rem;
  background-color: #f4f4f4;
  flex-wrap: wrap;             /* permite que los elementos bajen en pantallas pequeñas */
  gap: 1rem;                   /* espacio entre elementos */
}

.MenuLateral ul {
  font-family: Calibri;
  list-style: none;
  display: flex;
  
}


.MenuLateral a {
  padding: 0.5rem 1rem;
  background-color: #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
  color: inherit
}

.MenuLateral li:hover {
  background-color: #d2d2d2;
}
